html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-bootstrap.png")
    body
        div(class="")
            section(class="position-relative bg-light-light overflow-hidden")
                nav(class="navbar mb-12 navbar-expand-lg navbar-light py-4")
                    div(class="container")
                        a(class="navbar-brand", href="#")
                            img(class="img-fluid", style="height: 21px;", src="asitrastudio-assets/logos/logo-asi.svg", alt="")
                        button(class="d-lg-none navbar-burger btn px-0 rounded-pill", style="border: none;", type="button", data-bs-toggle="collapse", data-bs-target="#nav01", aria-controls="nav01", aria-expanded="false")
                            svg(width="44", height="16", viewbox="0 0 44 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                rect(width="44", height="2", rx="1", fill="black")
                                rect(y="14", width="44", height="2", rx="1", fill="black")
                        div(class="collapse navbar-collapse", id="nav05")
                            ul(class="navbar-nav ms-lg-auto me-4")
                                li(class="nav-item me-4")
                                    a(class="nav-link", href="#") About
                                li(class="nav-item me-4")
                                    a(class="nav-link", href="#") Services
                                li(class="nav-item me-4")
                                    a(class="nav-link", href="#") Projects
                                li(class="nav-item")
                                    a(class="nav-link", href="#") Contact us
                            div
                                a(class="btn btn-outline-dark fw-medium d-flex align-items-center rounded-pill", href="#")
                                    span(class="me-3") Get consulation
                                    svg(class="rotate-45", width="10", height="11", viewbox="0 0 10 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M9 1.5L1 9.5", stroke="currentColor", stroke-width="1.3", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M9 8.83571V1.5H1.66429", stroke="currentColor", stroke-width="1.3", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
                div(class="container")
                    div(class="position-relative mx-auto mb-12 pb-12 border-bottom")
                        div
                            h1(class="display-1") We create modern architecture
                            div(class="d-none d-xl-block position-absolute bottom-0 end-0 mw-sm mb-8")
                                span(class="d-block mb-n1 fs-10 text-end fw-medium") Since
                                span(class="d-block mb-3 fs-10 text-end fw-medium") 1979
                                p(class="text-end fw-medium")
                                    span(class="d-block") Duoloco® is a strategic branding agency
                                    span(class="d-block") focused on brand creation, rebrands, and brand
                                    span(class="d-block") transformation for progressive companies.
                            div(class="d-xl-none mt-10 mw-sm ms-auto")
                                span(class="d-block mb-n1 fs-10 text-end fw-medium") Since
                                span(class="d-block mb-3 fs-10 text-end fw-medium") 1979
                                p(class="text-end fw-medium")
                                    span(class="d-block") Duoloco® is a strategic branding agency
                                    span(class="d-block") focused on brand creation, rebrands, and brand
                                    span(class="d-block") transformation for progressive companies.
                    div(class="row align-items-end")
                        div(class="col-12 col-md-7 position-relative")
                            div(class="position-absolute top-0 end-0 mt-4 me-5 d-flex align-items-center justify-content-center", style="width: 180px; height: 180px;")
                                img(class="position-absolute top-0 start-0 w-100 h-100 spin", src="asitrastudio-assets/headers/spin-bonus.svg", alt="")
                                img(class="position-relative", src="asitrastudio-assets/headers/arrow-spin.svg", alt="")
                            img(class="imd-fluid w-100 rounded-top", style="object-fit: cover; height: 300px;", src="asitrastudio-assets/headers/header-photo-horizontal.png", alt="")
                        div(class="d-none d-md-block col-12 col-md-5")
                            div(class="row")
                                div(class="col-5")
                                    img(class="img-fluid w-100 rounded-top", style="object-fit: cover; height: 300px;", src="asitrastudio-assets/headers/header-photo-small2.png", alt="")
                                div(class="col-7")
                                    img(class="img-fluid w-100 rounded-top", style="object-fit: cover; height: 300px;", src="asitrastudio-assets/headers/header-photo1.png", alt="")
                div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs", style="z-index: 9999;")
                    div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark", style="opacity: 75%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto")
                        div(class="d-flex align-items-center")
                            a(class="me-auto h4 mb-0 text-decoration-none", href="#")
                                img(class="img-fluid", style="height: 16px;", src="asitrastudio-assets/logos/logo-asi.svg", alt="")
                            a(class="navbar-close", href="#")
                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        div(class="py-12")
                            ul(class="nav flex-column")
                                li(class="nav-item mb-6")
                                    a(class="nav-link text-dark", href="#") About
                                li(class="nav-item mb-6")
                                    a(class="nav-link text-dark", href="#") Services
                                li(class="nav-item mb-6")
                                    a(class="nav-link text-dark", href="#") Projects
                                li(class="nav-item")
                                    a(class="nav-link text-dark", href="#") Contact us
                        div
                            a(class="btn btn-outline-dark mb-3 w-100 rounded-pill", href="#") Login
                            a(class="btn btn-primary w-100 rounded-pill", href="#") Sign in
            section(class="py-12 py-md-24 bg-light-light")
                div(class="container")
                    div(class="row align-items-center mb-6")
                        div(class="col-12 col-lg-6 mb-6 mb-lg-0")
                            h1 About us
                        div(class="col-12 col-lg-6")
                            div(class="mw-xl ms-auto text-end")
                                p(class="fw-medium")                   KW70 Fix is a leading real estate investment firm in the World, headquartered in New York
                                |                   with offices in London, Chicago, Barcelona, Vienna, Rome, Las Vegas.
                                |                 
                    div(class="row")
                        div(class="col-12 col-lg-6 mb-6 mb-lg-0")
                            div(class="mw-xl")
                                p(class="fw-medium mb-10")
                                    span KW70 Fix initiative seeks out regions and markets with robust underlying catalysts, such as burgeoning technology sectors, a diverse workforce, and a strong entrepreneurial culture. Once identified, we aim to bring our extensive knowledge and resources to these carefully chosen areas, partnering with local stakeholders to create a thriving physical environment that promotes growth and prosperity. 
                                    span(class="text-secondary-light")                     In those carefully selected markets and locations, we bring capital
                                    |                     and expertise to create or enhance the physical built environment that can transform communities.
                                a(class="d-inline-block pb-2 fw-semibold border-0 border-2 border-dark border-bottom", href="#")
                                    span(class="me-3") Get to know us
                                    svg(class="rotate-45", width="11", height="11", viewbox="0 0 11 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M9.5 1.5L1.5 9.5", stroke="black", stroke-width="1.3", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M9.5 8.83571V1.5H2.16429", stroke="black", stroke-width="1.3", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
                        div(class="col-12 col-lg-6")
                            ul(class="list-unstyled mt-10")
                                li(class="d-flex mb-6 pb-3 border-2 border-dark border-bottom align-items-end justify-content-between")
                                    span(class="fs-5 fw-medium text-secondary-light") 01
                                    div(class="text-end")
                                        span(class="d-block fw-medium fs-5")
                                            span 20+ m
                                            sup(class="ms-n2") 2
                                        span(class="fw-medium") It is a long established
                                li(class="d-flex mb-8 pb-3 border-2 border-dark border-bottom align-items-end justify-content-between")
                                    span(class="fs-5 fw-medium text-secondary-light") 02
                                    div(class="text-end")
                                        span(class="d-block fw-medium fs-5") 500+
                                        span(class="fw-medium") It is a long established
                                li(class="d-flex mb-8 pb-3 border-2 border-dark border-bottom align-items-end justify-content-between")
                                    span(class="fs-5 fw-medium text-secondary-light") 03
                                    div(class="text-end")
                                        span(class="d-block fw-medium fs-5") 40 000+
                                        span(class="fw-medium") It is a long established
                                li(class="d-flex pb-3 border-2 border-dark border-bottom align-items-end justify-content-between")
                                    span(class="fs-5 fw-medium text-secondary-light") 04
                                    div(class="text-end")
                                        span(class="d-block fw-medium fs-5")
                                            span 24 700+ m
                                            sup(class="ms-n2") 2
                                        span(class="fw-medium") It is a long established
            section(class="py-12 py-md-24 bg-dark")
                div(class="container")
                    div(class="row align-items-center")
                        div(class="col-12 col-lg-6 mb-12 mb-lg-0")
                            div(class="mw-lg mw-xl-none")
                                span(class="d-block mb-4 fw-medium fs-9 text-light") Lorem Ipsum
                                h1(class="display-4 text-white mb-8") Share your travels with friends & family
                                p(class="fs-7 text-light-dark") It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        div(class="col-12 col-lg-6")
                            div(class="d-flex flex-column flex-sm-row justify-content-lg-end")
                                a(class="btn mb-3 mb-sm-0 me-sm-6 btn-light bg-white", href="#")
                                    span(class="me-2") Get consulation
                                    svg(class="rotate-45", width="10", height="11", viewbox="0 0 10 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M9 1.5L1 9.5", stroke="currentColor", stroke-width="1.3", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M9 8.83571V1.5H1.66429", stroke="currentColor", stroke-width="1.3", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
                                a(class="btn btn-outline-light", href="#")
                                    span(class="me-2") Get consulation
                                    svg(class="rotate-45", width="10", height="11", viewbox="0 0 10 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M9 1.5L1 9.5", stroke="currentColor", stroke-width="1.3", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M9 8.83571V1.5H1.66429", stroke="currentColor", stroke-width="1.3", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
            section(class="py-12 py-md-20 bg-dark")
                div(class="container")
                    div(class="row mb-16")
                        div(class="col-12 col-lg-4 col-xl-5 mb-8 mb-lg-0")
                            a(class="d-inline-block", href="#")
                                img(class="img-fluid", style="height: 21px;", src="asitrastudio-assets/logos/logo-asitra-white.svg", alt="")
                        div(class="col-12 col-lg-8 col-xl-7")
                            ul(class="list-unstyled d-flex flex-wrap mb-n2 align-items-center justify-content-lg-end")
                                li(class="mb-2 me-14")
                                    a(class="d-inline-block text-light", href="#") Contact
                                li(class="mb-2 me-14")
                                    a(class="d-inline-block text-light", href="#") Blog
                                li(class="mb-2 me-14")
                                    a(class="d-inline-block text-light", href="#") Our Storry
                                li(class="mb-2 me-14")
                                    a(class="d-inline-block text-light", href="#") Careers
                                li(class="mb-2 me-14")
                                    a(class="d-inline-block text-light", href="#") Support
                                li(class="mb-2")
                                    a(class="d-inline-block text-light", href="#") Guides
                    div(class="row align-items-center")
                        div(class="col-12 col-sm-6 mb-6 mb-sm-0")
                            span(class="fs-9 text-secondary-light") © 2025 Realestate.co
                        div(class="col-12 col-sm-6 text-sm-end")
                            div(class="mb-n2")
                                a(class="d-inline-block fs-9 mb-2 me-12 fw-medium text-secondary-light", href="#") Terms of Use
                                a(class="d-inline-block fs-9 mb-2 fw-medium text-secondary-light", href="#") Privacy Policy
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
